\#*
.\#*
metastore_db/*
*.log
dist/*
target/
project/plugins/project/
project/target/
project/project/
.history
.cache
.lib/
.bsp/

# IntelliJ IDEA Files

*.iml
*.ipr
*.iws
*.idea

# VSCode files

.vscode
.history

# Metals

.metals
.bloop
metals.sbt
